body {
    color:rgb(46,18,201);
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #0fd0d6;
    text-shadow: 0 0 3px #18e93a;
}
body{
    display:grid;
    grid-template-areas: 
    "header header header"
    " nav article ads"
    "footer footer footer";
    grid-template-rows: 80 1fr 70px;
    grid-template-columns: 20% 1pr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px ;
    height: 100vh;
    margin: 0;
    font-size: large;
    background-color: rgb(46,18,201);
    }
header, footer, article, nav, div{
    padding: 1.2em;
    background: #0fd0d6;

    }
#pageHeader {
grid-area: header;
    }
#pageFooter{grid-area: 
    footer;
    }
#mainArticle{
    grid-area: article;

}
#mainNav{
    grid-area: nav
    ;
}
#SiteLinks{
    grid-area: ads;
}
a:link{
    color:gold 
}
a:visited{
    clor: hsl(0,5%, 15%)
}
a:hover{
    color:gold;
}
a:active{
    color:red;
}
.topNav{
    background-color: #dbe2e200;
    overflow: hidden;
    
}
.topnav a {
    float: left;
    color: none;
    text-align: center;
    padding: 10px 10px;
    text-decoration:solid;
    font-size: 25px;
}
.button {
    border: none;
    outline:lightsalmon;
    display: inline-block;
    padding: 5px;
    color: #0fd0d6;
    background-color: #0fd0d6;
    text-align:left;
    cursor: pointer;
    width: 100%;
  }