
body {
  /* Typography Declarations */
  color:rgb(46, 18, 201);
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #0fd0d6;
  text-shadow: 0 0 3px #18e93a;
}
body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "nav footer footer";
  grid-template-rows: 80px 1fr 70px;  
  grid-template-columns: 20% 1fr 15%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
  font-size: large ;
  background-color: rgb(46, 18, 201);
  
  }  

header, footer, article, nav, div {
  padding: 1.2em;
  background: #0fd0d6 ;
  
  }
  
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }
#siteLinks { 
  grid-area: ads; 
  } 
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "siteLinks"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}
a:link {
  color: #e6e220;
}
a:visited {
color: #ff00ff;
}
a:hover {
color: #d86d0a;
}
a:active {
  color: #ff0000;
}
.topnav {
  background-color: #022e3000;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: none;
  text-align: center;
  padding: 10px 10px;
  text-decoration:solid;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  
  color: #FFEA00;
}

/* Add a color to the active/current link */
.topnav a.active {
 
  color: #D500F9;
}